# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Environment files
.env
.env.development
.env.production
.env.local
.env.*.local

# Allow example files
!.env.*.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# docker configs
docker/nginx.conf
docker/php.ini

.idea/
