.usuario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.usuario-container form div label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.login-container {
    max-height: 100vh;
}

.input-watcher {
    display: flex;

    >input {
        margin-bottom: 21px;
        width: 20px;
        cursor: pointer;
    }
    >label {
        cursor: pointer;
    }
}