.botao {
    background-color: var(--primary-color);
    color: var(--nav-text);
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px var(--shadow-color);
}

.botao:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: var(--text-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--shadow-color);
}

.botao.foiClicado {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    transform: translateY(5px);
    color: var(--text-color);
    box-shadow: 0 1px 2px var(--shadow-color);
}   