.botao {
    background-color: #5a95e8;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    margin: 0 10px;
}

.botao:hover {
    background-color: gray;
}

.botao.foiClicado {
    background-color: gray;
    transform: translateY(5px);
    color: #5a95e8;
}   