.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.nav-menu {
    margin: 0 auto;
}

.nav-menu a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 22px;
}

nav a {
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

nav a:hover {
    color: var(--hover-color);
}

/* Define o estilo dos itens do menu */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Define o espaçamento entre os itens do menu */
nav li {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 50px;
    background-color: var(--primary-color);
    color: var(--nav-text);
    padding: 0px 5px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    margin: 0 10px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px var(--shadow-color);
}

nav li:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: var(--text-color);
    transform: translateY(-2px);
}

/* Define a cor do item do menu ativo */
nav li.active a {
    color: var(--text-color);
}

.logo-container-menu h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    color: var(--text-color);
    font-size: 50px;
    margin-top: -20px;
    max-height: 100vh;
}

.link-ativo {
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        padding: 20px 0;
    }
}