.secao-main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.secao-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.secao-botao-clicado {
    display: flex;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transform: scale(1.3);
    background-color: gray;
    color: white;
}

.usuarios-logados {
    display: flex;
    background-color: #5a95e8;
    color: black;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
}

.usuarios-logados .secao-nome {
    font-weight: bold;
}

.usuarios-logados h1 {
    font-size: 18px;
}

.usuarios-logados p {
    padding: 0;
    margin: 5% 0 0 0;
    font-size: 16px;
}

.usuarios-logados ul {
    padding: 0;
    margin: 3% 0% 0% 0%;
}

.usuarios-logados li {
    font-size: 15px;
    width: 100%;
}

.usuarios-logados span {
    width: 100px;
}

.mostrar-votos {
    background-color: #5a95e8;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.mostrar-votos:disabled {
    background-color: gray;
    color: black;
    cursor: not-allowed;
    opacity: 0.6;
}

.barra-superior {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
}

.content-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.secao-mostrar {
    margin-top: 12%;
}

.mostrar-votos .mostrar-votos {
    margin-top: 30px;
}

.secao-votos {
    display: flex;
    background-color: #5a95e8;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.voto-valor {
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.votos-usuarios-visiveis ul li {
    margin-bottom: 10px;
}

.votos-usuarios-visiveis ul {
    margin-right: 38px;
}