nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ccff00;
    height: 50px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-container{
    max-height: 100vh;
}

.start-principal {
    max-height: 100vh;
}